$font:30px;
$margin-left:400px;
$width:150px;
$height:40px;
.header a{
    font-size: $font;
    font-weight: 500;
    margin-right: $margin-left;
}
body{
    font-family: sans-serif;
    padding: 30px;
}
.header button{
    width:$width;
    height:$height;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding: 3px 5px;
    color: grey;
    background-color: white;
}
.img_main{
    margin-bottom: -150px;
    margin-top: 40px;
    position: inherit;
    z-index: 1;
    border-radius: 5px;
    display: flex;
}
.img_circle{
    margin-left: -300px;
    margin-top: 00px;
}
.stream{
    background-color: red;
    width: 150px;
    height: 40px;
    border: 1px solid red;
    margin-left: 382px;
    border-radius: 5px;
    margin-top:50px;
    position: absolute;
    z-index: 1;
   
    text-align: center;
}
.txt{
    margin-top: 200px;
}
.txt a{
    font-size: 45px;
    opacity: 0.7;
}
.txt p{
    font-size: 25px;
    opacity: 0.7;
    margin-bottom: -60px;
}
.img_facebook, .img_youtube{
    background-color: grey;
    width: 50px;
    border-radius: 10px;
    padding: 5px;
    margin-top: -20px;
}
.img_facebook{
    margin-left: 400px;
    margin-right: 20px;
}
.round{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: white;
    background-color: white;
    position: absolute;
    z-index: 3;
    margin-left: -60px;
    margin-top: 10px;
}
.jonli{
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    margin-left: -25px;
}
.box
{
    width: $boxes1;
    height: $boxes1;
    border: $border;
    border-radius: 5px;
    margin-right: 22px;
    margin-bottom: 22px;
    position: relative;
}
.block2
{
    
    display: flex;
    width: 650px;
    flex-wrap: wrap;
    position: $abs;
    right: 100px;
}
.anons
{
    background-color: red;
    padding: 3px;
    width: 95px;
    border-radius: 0px 5px 0px 5px;
    position: $abs;
    right: 0px;
}
.box1-youtube
{
    position: $abs;
    left: 12px;
}
.anons-item
{
    color: #fff;
    margin-left: 40px;
}
.box1-play
{
    position: $abs;
    top: 50px;
    left: 120px;
}
.box1-header
{
    background-image: url(./images/image.png);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.box2-header
{
    background-image: url(./images/image\ \(1\).png);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.box3-header
{
    background-image: url(./images/image\ \(2\).png);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.box4-header
{
    background-image: url(./images/image\ \(3\).png);
    width: 100%;
    height: 60%;
    background-size: cover;
}
.navbar1{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
    word-spacing: 3px;
    color: rgb(82, 81, 81);
}
.like
{
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.dislike
{
    position: absolute;
    bottom: 25px;
    left: 95px;
}
.eye
{
    position: absolute;
    bottom: 25px;
    right: 75px;
}