$border: rgba(161, 154, 118, 0.311);
$job:rgb(244, 128, 13);
.window{
    width: 1173px;
    height: 701px;
    border: 1px solid ;
    background-color:white;
    text-align: center;
}
.sarlavha{
    display: flex;
}
.burchak1{
    width: 180px;
    height: 280px;
}
.title{
    margin-top: 160px;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 270px;
    text-align: center;
}
.blogs{
    
    display: flex;
    margin-top: 30px;
    margin-left: 120px;
}
.blog{
    width: 280px;
    margin-left: 20px;
    border: 1px solid $border;
    background-color: $border;
    text-align: center;
}
.blog_img{
    margin-top: -70px;
}
.blog_name{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
}
.blog_job{
    color: $job;
}